<div class="login">
        <form method="POST" [formGroup]="form">
      
        <h1>Login</h1>
        
        <fieldset>
          <legend><span class="login-number">Enter Login Details</span></legend>
          <label>Email (Username):</label>
          <input type="email" [(ngModel)]="Email" name="Email" formControlName="Email" id="login_email" placeholder="Email">
          <div class="required-error" *ngIf = "form.get('Email').touched && form.get('Email').invalid">
            <p *ngIf = "form.get('Email').errors.required">Email is Required</p>
            <p *ngIf = "form.get('Email').errors.email">Enter a valid email address</p>
          </div>

          <label>Password:</label>
          <input type="password" [(ngModel)]="Password" name="Password" formControlName="Password" id="login_password" placeholder="Password">
          <div class="required-error" *ngIf = "form.get('Password').touched && form.get('Password').invalid">
              <p *ngIf = "form.get('Password').errors.required">Password is Required</p>
              <p *ngIf = "form.get('Password').errors.email">Password should be minimum of 5 characters</p>
          </div>
        </fieldset>
        <button (click)="login()" [disabled]="!form.valid">Login</button>
        <p class="create-new-account"><a href="#" routerLink="/signup">Click here to Create a New Account</a></p>
      </form>
</div>

<ng-template [ngIf] = "check_flag == 1">
  <div class="not-verify-message">
    <p>Verifiation Email has been sent to your email address. Please verify your account</p>
    <p>Click below to resend verification email</p>
    <button (click) = "resend_email()">Resend Email</button>
  </div>
</ng-template>

<ng-template [ngIf] = "check_flag == 2">
    <div class="email-resent">
      <p>Verification Email Resent. Please verify your account</p>
    </div>
  </ng-template>

