ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
li {
    background: rgb(238, 238, 238);
    padding: 1em;
    margin-right: 10px;
    width: 20%;
    height: 370px;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}
/* p {
    margin: 0;
} */
p.Song {
    font-weight: bold;
    font-size: 1.2rem;
}
.top-review-li{
    height: 295px;
}
.all-review-li{
    height: 200px;
}
.hide_button{
    padding-bottom:5px ;
    margin-bottom: 15px;
}
h1 {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.review-heading{
    text-align: start;
}
