<div class="search-song">
        <form method="POST">
      
        <h1>Search</h1>
        
        <fieldset>
          <legend><span class="number">Enter Keywords</span></legend>
          <label>Search:</label>
          <input type="text" [(ngModel)]="Search" id="search_keywords" placeholder="Keywords" [ngModelOptions]="{standalone: true}">
        </fieldset>
        <button (click)="search_song()">Search</button>
      </form>
</div>

  <ul *ngIf="search_songs_results">
     <li *ngFor="let song of search_songs_results">
         <p class="Song">Song: {{ song.Song_Title }} </p>
         <p class="Artist">Artist: {{ song.Artist }} </p>
         <p class="Album">Album: {{ song.Album }}</p>
         <p class="Year">Year: {{ song.Year }}</p>
         <p class="Genre">Genre: {{ song.Genre }}</p>
         <p class="Avg_Rating">Average Rating: {{ song.Average_Ratings }} <star-rating value="{{ song.Average_Ratings }}" totalstars="5" checkedcolor="red" uncheckedcolor="black" size="24px" readonly="true" (rate)="onRate($event)"></star-rating></p>
          <!-- <p class="Show_Review"><button (click)="show_review_for_song(song._id)">Show Reviews</button></p> -->
     </li>
 </ul>