<div class='admin-container'>
        <h1>Welcome Admin</h1>
    
        <div><button routerLink="/song_add">Add Song</button></div>
        <div><button routerLink="/song_update">Update Song</button></div>
        <div><button routerLink="/review_add">Add Review</button></div>
        <div><button routerLink="/songs_reviews_view">View Songs & Reviews</button></div>
        <div><button routerLink="/song_delete">Delete Song</button></div>
        <div><button routerLink="/user_modify">Modify Users</button></div>
        <div><button routerLink="/modify_song_status">Modify Song Status</button></div>
        <div><button routerLink="/playlist_create">Create Playlist</button></div>
        <div><button routerLink="/playlist_view_admin">View Playlists</button></div>
        <div><button routerLink="/playlist_edit">Edit Playlist</button></div>
        <div><button routerLink="/playlist_delete">Delete Playlist</button></div>
    </div>