<div class='admin-container'>
        <h1>Welcome Admin</h1>
    
        <div><button routerLink="/song_add">Add Song</button></div>
        <div><button routerLink="/song_update">Update Song</button></div>
        <div><button routerLink="/review_add">Add Review</button></div>
        <div><button >Search Review</button></div>
        <div><button >Create Playlist</button></div>
        <div><button >Delete Song</button></div>
        <!-- <div><button >Delete Review</button></div> -->
        <div><button >Delete Playlist</button></div>
        <div><button >Modify Users</button></div>
    </div>