<header>
  <div class="container">
    <div class="header">
      <a routerLink="/" class="logo">Boom-Box</a>
      <nav class="navbar">
        <ul class="navbar-list">
          <li><a href="#" routerLink = "/">Home</a></li> 
          <li><a href="#" routerLink = "/search">Search</a></li>
          <li><a href="#" routerLink = "/trending">Trending</a></li>
          <li><a href="#" *ngIf="!_http.guard_loggedIn()" routerLink = "/login">Login</a></li>
          <li><a href="#" *ngIf="!_http.guard_loggedIn()" routerLink = "/signup">Sign Up</a></li>
          <li><a  style="cursor:pointer" *ngIf="_http.guard_loggedIn()" (click)="_http.logoutUser()">Logout</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>


<div class="container">
  <router-outlet></router-outlet>
</div>