<div class="song-add">
        <form method="POST" [formGroup]="form">
      
        <h1>Add New Songs</h1>
        
        <fieldset>
          <legend><span class="number">Enter Song Details</span></legend>
          <label>Song Title:</label>
          <input type="text" [(ngModel)]="Song_Title" name="Song_Title" formControlName="Song_Title" id="song-add-songtitle" placeholder="Song Title">
          <div class="required-error" *ngIf = "form.get('Song_Title').touched && form.get('Song_Title').invalid">
              <p *ngIf = "form.get('Song_Title').errors.required">Song Title is Required</p>
          </div>
          
          <label>Artist:</label>
          <input type="text" [(ngModel)]="Artist" name="Artist" formControlName="Artist" id="song-add-artist" placeholder="Artist">
          <div class="required-error" *ngIf = "form.get('Artist').touched && form.get('Artist').invalid">
              <p *ngIf = "form.get('Artist').errors.required">Artist is Required</p>
          </div>

          <label>Album:</label>
          <input type="text" [(ngModel)]="Album" id="song-add-album" placeholder="Album" [ngModelOptions]="{standalone: true}">

          <label>Year:</label>
          <input type="number" [(ngModel)]="Year" id="song-add-year" placeholder="Year" [ngModelOptions]="{standalone: true}">

          <label>Comment:</label>
          <input type="text" [(ngModel)]="Comment" id="song-add-comment" placeholder="Comment" [ngModelOptions]="{standalone: true}">

          <label>Genre:</label>
          <input type="text" [(ngModel)]="Genre" id="song-add-genre" placeholder="Genre" [ngModelOptions]="{standalone: true}">
        </fieldset>
        <button routerLink="/login_success" (click)="add_song()" [disabled]="!form.valid">Add Song</button>
        <p class="add-review"><a (click)="show_add_review()">Click here to Add Review</a></p>
      </form>
  </div>

  <!-- show the review box -->
  <ng-template [ngIf] ="check_flag == 1">
    <div class="review-add">
      <form method="POST" [formGroup]="form_review">
            
        <h1>Add Reviews</h1>
              
          <fieldset>
            <legend><span class="review-add-number">Enter Review Details</span></legend>
      
            <label>Review Comment:</label>
              <input type="text" [(ngModel)]="Review_Comment" name="Review_Comment" formControlName="Review_Comment" id="review-add-Review_Comment" placeholder="Review Comment">
              <div class="required-error" *ngIf = "form_review.get('Review_Comment').touched && form_review.get('Review_Comment').invalid">
                <p *ngIf = "form_review.get('Review_Comment').errors.required">Comment is Required</p>
              </div>
      
            <label>Rating:</label>
              <input type="number" max="5" min="1" [(ngModel)]="Rating" name="Rating" formControlName="Rating" id="review-add-Rating" placeholder="Rating">
              <div class="required-error" *ngIf = "form_review.get('Rating').touched && form_review.get('Rating').invalid">
                <p *ngIf = "form_review.get('Rating').errors.required">Rating is Required</p>
              </div>
      
           </fieldset>
              <button  (click)="add_song_and_review()" [disabled]="!form_review.valid">Add Song with Review</button>
       </form>
      </div>
 </ng-template>