<h1>Songs</h1>


  <ul *ngIf="songs_list">
    <li *ngFor="let song of songs_list" [style.display]="song.Status == 'visible' ? 'inline-block' : 'none'">
      <ng-template [ngIf] = "song.Status == 'visible'">
        <p class="Song">Song: {{ song.Song_Title }} </p>
        <p class="Artist">Artist: {{ song.Artist }} </p>
        <p class="Album">Album: {{ song.Album }}</p>
        <p class="Year">Year: {{ song.Year }}</p>
        <p class="Genre">Genre: {{ song.Genre }}</p>
        <p class="Avg_Rating">Average Rating: {{ song.Average_Ratings }} <star-rating value="{{ song.Average_Ratings }}" totalstars="5" checkedcolor="red" uncheckedcolor="black" size="24px" readonly="true" (rate)="onRate($event)"></star-rating></p>
        <p class="No_of_Ratings">Total Reviews: {{ song.Number_Of_Ratings }}</p>
        <p class="Show_Review"><button (click)="show_review_for_song(song._id)">Show Reviews</button></p>                   
    </ng-template>
    </li>
  </ul>

<!-- for getting the top review -->
<ng-template [ngIf] ="check_flag == 1" [ngIfElse]="none">
    <h1 class="review-heading">Reviews</h1><button class="hide_button" (click)="hide_reviews()">Hide Reviews</button>
    <ul *ngIf="reviews_of_song_list">
        <li class="top-review-li">
          <h3>Latest Review</h3>
          <p class="Review">Comment: {{ reviews_of_song_list[0].Review_Comment }} </p>
          <p class="Rating">Rating: {{ reviews_of_song_list[0].Rating }} <star-rating value="{{ reviews_of_song_list[0].Rating }}" totalstars="5" checkedcolor="red" uncheckedcolor="black" size="24px" readonly="false"></star-rating></p>
          <p class="UserName">Reviewed By: {{ reviews_of_song_list[0].User_Name }} </p>
          <p class="Show_All_Review"><button (click)="show_all_reviews()">View All Reviews</button></p>
        </li>
    </ul>
</ng-template>

<!-- getting all reviews -->

<ng-template [ngIf] ="check_flag == 2">
    <h1 class="review-heading">Reviews</h1><button class="hide_button" (click)="hide_reviews()">Hide Reviews</button>
    <ul *ngIf="reviews_of_song_list">
        <li class="all-review-li" *ngFor="let review of reviews_of_song_list">
          <p class="Review">Comment: {{ review.Review_Comment }} </p>
          <p class="Rating">Rating: {{ review.Rating }} <star-rating value="{{ review.Rating }}" totalstars="5" checkedcolor="red" uncheckedcolor="black" size="24px" readonly="true"></star-rating></p>
          <p class="UserName">Reviewed By: {{ review.User_Name }} </p>
        </li>
    </ul>
</ng-template>

  
