<div class='login-success-container'>
    <h1>Welcome to Boom-Box</h1>

    <div><button routerLink="/song_add">Add Song</button></div>
    <div><button routerLink="/song_update">Update Song</button></div>
    <div><button routerLink="/review_add">Add Review</button></div>
    <div><button routerLink="/songs_reviews_view">View Songs & Reviews</button></div>
    <div><button routerLink="/playlist_create">Create Playlist</button></div>
    <div><button routerLink="/playlist_view">View Playlists</button></div>
    <div><button routerLink="/playlist_edit">Edit Playlist</button></div>
</div>