<body>
    <h1>Welcome to Boom-Box</h1>

    <h2>About Boom-Box</h2>
    
    <p class="about-para">Boom-Box is your one and all place for your daily music needs. Search for latest as well as retro songs
        in just a few clicks. Also search for the reviews for any song posted by members of Boom-Box. Checkout the trending songs
        which are updated regularly. Sign Up for a free Boom-Box service to add your own songs and reviews to the Boom-Box library.
        Also you get to create your own playlist based on songs of your choice when you sign up. Boom-Box offers great service and
        value to any music lover.
    </p>
</body>
