<body>
    <h1>About</h1>
    <p class="about-para">
            Alex Honeysett is a Brand and Marketing Strategist who partners with CEOs, executives and solopreneurs to grow their personal and professional brands, human-to-human. After spending nearly a decade working in PR and marketing for multimillion dollar brands and startups, Alex knows what truly drives conversions, sold-out launches, and New York Times interviews—and it’s not mastering the marketing flavor of the week. It’s how well you connect with the heart-beating people you’re trying to help and communicate your understanding back to them.

            Alex has landed coverage in print and broadcast outlets around the world, including the Today Show, Wall Street Journal, Mashable, BBC, NPR, and CNN. Her own articles have been featured in The Muse, Forbes, Inc., Mashable, DailyWorth, and Newsweek. In addition to her extensive PR and marketing experience, Alex is a trained business coach.
            
            Alex holds a BA in communications and journalism from the University of Delaware.
    </p>
</body>
