<ul *ngIf="songs_list">
        <li *ngFor="let song of songs_list" [style.display]="song.Status == 'visible' ? 'inline-block' : 'none'">
          <ng-template [ngIf] = "song.Status == 'visible'">
            <p class="Song">Song: {{ song.Song_Title }} </p>
            <p class="Artist">Artist: {{ song.Artist }} </p>
            <p class="Album">Album: {{ song.Album }}</p>
            <p class="Year">Year: {{ song.Year }}</p>
            <p class="Genre">Genre: {{ song.Genre }}</p>
            <p class="Avg_Rating">Average Rating: {{ song.Average_Ratings }} <star-rating value="{{ song.Average_Ratings }}" totalstars="5" checkedcolor="red" uncheckedcolor="black" size="24px" readonly="true" (rate)="onRate($event)"></star-rating></p>
            <p class="No_of_Ratings">Total Reviews: {{ song.Number_Of_Ratings }}</p>
            <p class="Add_Review"><button (click)="show_add_review(song._id)">Add Reviews</button></p>                   
        </ng-template>
        </li>
      </ul>

<!-- to show add review box -->
<ng-template [ngIf] ="check_flag == 1">
<div class="review-add">
        <form method="POST" [formGroup]="form">
      
        <h1>Add Reviews</h1>
        
        <fieldset>
          <legend><span class="number">Enter Review Details</span></legend>

          <label>Review Comment:</label>
          <input type="text" [(ngModel)]="Review_Comment" name="Review_Comment" formControlName="Review_Comment" id="review-add-Review_Comment" placeholder="Review Comment">
          <div class="required-error" *ngIf = "form.get('Review_Comment').touched && form.get('Review_Comment').invalid">
              <p *ngIf = "form.get('Review_Comment').errors.required">Comment is Required</p>
          </div>

          <label>Rating:</label>
          <input type="number" max="5" min="1" [(ngModel)]="Rating" name="Rating" formControlName="Rating" id="review-add-Rating" placeholder="Rating">
          <div class="required-error" *ngIf = "form.get('Rating').touched && form.get('Rating').invalid">
              <p *ngIf = "form.get('Rating').errors.required">Rating is Required</p>
          </div>

        </fieldset>
        <button  (click)="add_review()" [disabled]="!form.valid">Add Review</button>
      </form>
  </div>
</ng-template>