body, html {
    height: 100%;
    margin: 0;
  }
.bg{
    height: 250%;
    /* width: auto; */
    /* margin: 0; */
    background-image:url("/assets/images/bg5.jpg") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  
}
