<div class="song-delete">
        <form method="POST" [formGroup]="form">
      
        <h1>Delete Songs</h1>
        
        <fieldset>
          <legend><span class="number">Enter Song Details</span></legend>
          <label>Song Title:</label>
          <input type="text" [(ngModel)]="Song_Title"  name="Song_Title" formControlName="Song_Title" id="song-delete-songtitle" placeholder="Song Title">
          <div class="required-error" *ngIf = "form.get('Song_Title').touched && form.get('Song_Title').invalid">
              <p *ngIf = "form.get('Song_Title').errors.required">Song Title is Required</p>
          </div>
          
          <label>Artist:</label>
          <input type="text" [(ngModel)]="Artist" name="Artist" formControlName="Artist" id="song-delete-artist" placeholder="Artist">
          <div class="required-error" *ngIf = "form.get('Artist').touched && form.get('Artist').invalid">
              <p *ngIf = "form.get('Artist').errors.required">Artist is Required</p>
          </div>

        </fieldset>
        <button routerLink="/admin" (click)="delete_song()" [disabled]="!form.valid">Delete Song</button>
      </form>
  </div>