<div class="song-update">
        <form method="POST">
      
        <h1>Update Songs</h1>
        
        <fieldset>
          <legend><span class="number">Enter Song Details</span></legend>
          <label>Song Title:</label>
          <input type="text" [(ngModel)]="Song_Title" id="song-update-songtitle" placeholder="Song Title" [ngModelOptions]="{standalone: true}">
          
          <label>Artist:</label>
          <input type="text" [(ngModel)]="Artist" id="song-update-artist" placeholder="Artist" [ngModelOptions]="{standalone: true}">

          <label>Album:</label>
          <input type="text" [(ngModel)]="Album" id="song-update-album" placeholder="Album" [ngModelOptions]="{standalone: true}">

          <label>Year:</label>
          <input type="number" [(ngModel)]="Year" id="song-update-year" placeholder="Year" [ngModelOptions]="{standalone: true}">

          <label>Comment:</label>
          <input type="text" [(ngModel)]="Comment" id="song-update-comment" placeholder="Comment" [ngModelOptions]="{standalone: true}">

          <label>Genre:</label>
          <input type="text" [(ngModel)]="Genre" id="song-update-genre" placeholder="Genre" [ngModelOptions]="{standalone: true}">
        </fieldset>
        <button routerLink="/login_success" (click)="update_song()">Update Song</button>
      </form>
  </div>